/* Starting Point UI Button Group Styles */

@layer components {
  .btn-group {
    @apply flex w-fit items-stretch;
    @apply [&>*]:focus-visible:z-10 [&>*]:focus-visible:relative;
    /* Default to horizontal */
    @apply [&:where(&:not(.btn-group-horizontal,.btn-group-vertical))]:btn-group-horizontal;
  }

  .btn-group-text {
    @apply bg-muted flex items-center gap-2 rounded-md border px-4 text-sm font-medium shadow-xs [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4;
  }

  .btn-group-separator {
    @apply bg-input relative self-stretch;
  }
}

@utility btn-group-horizontal {
  @apply [&>*:not(:first-child)]:rounded-l-none [&>*:not(:first-child)]:border-l-0;
  @apply [&>*:not(:last-child)]:rounded-r-none;
  @apply [&>.btn-group-separator]:h-auto [&>.btn-group-separator]:w-px;
}

@utility btn-group-vertical {
  @apply flex-col;
  @apply [&>*:not(:first-child)]:rounded-t-none [&>*:not(:first-child)]:border-t-0;
  @apply [&>*:not(:last-child)]:rounded-b-none;
  @apply [&>.btn-group-separator]:w-auto [&>.btn-group-separator]:h-px;
}
