/* Starting Point UI Collapsible Styles */

@utility collapsible-panel {
  @apply invisible h-0 overflow-hidden;
  @apply [&:not(.no-animation)]:data-[state=open]:animate-collapsible-down;
  @apply [&:not(.no-animation)]:data-[state=closed]:animate-collapsible-up;

  &.open {
    @apply visible h-auto;
  }
}

@utility collapsible-content {
  @apply flex flex-col gap-2;
}
