@utility shimmer {
  @layer l1.l2 {
    --_spread: var(--shimmer-spread, calc(3ch + 40px));
    --_base: currentColor;
    --_highlight: var(
      --shimmer-color,
      oklch(from currentColor l c h / calc(alpha * 0.2))
    );
    background-image: var(
      --shimmer-image,
      linear-gradient(
        calc(90deg + var(--shimmer-angle, 20deg)),
        var(--_base) calc(50% - var(--_spread)),
        color-mix(in oklch, var(--_highlight), var(--_base) 50%)
          calc(50% - var(--_spread) * 0.5),
        var(--_highlight) 50%,
        color-mix(in oklch, var(--_highlight), var(--_base) 50%)
          calc(50% + var(--_spread) * 0.5),
        var(--_base) calc(50% + var(--_spread))
      )
    );
    background-repeat: no-repeat;
    background-size: calc(200% + var(--_spread) * 2) 100%;
    background-position: 0 0;
    -webkit-text-fill-color: var(--shimmer-text-fill, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    animation: shimmer var(--shimmer-duration, 2s) linear infinite;
    &:where(.dark, .dark *) {
      --_highlight: var(
        --shimmer-color,
        oklch(from currentColor max(0.8, calc(l + 0.4)) c h / calc(alpha + 0.4))
      );
    }
    &:dir(rtl) {
      animation-direction: reverse;
    }
  }
}

@keyframes shimmer {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}
