/* Starting Point UI Accordion Styles */

@utility accordion {
  @layer l1.l2 {
    @apply w-full divide-y;
  }
}

@utility accordion-trigger {
  @layer l1.l2 {
    @apply flex w-full flex-1 items-center justify-between gap-4 rounded-md py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50;
    @apply [&_svg:not([class*='size-'])]:size-4 [&_svg]:shrink-0;
    @apply [&:not(.no-animation)_svg]:transition-transform [&:not(.no-animation)_svg]:duration-200;
  }
}

@utility accordion-panel {
  @layer l1.l2 {
    @apply invisible h-0 overflow-hidden;
    @apply [&:not(.no-animation)]:data-[state=open]:animate-accordion-down;
    @apply [&:not(.no-animation)]:data-[state=closed]:animate-accordion-up;

    &.open {
      @apply visible h-auto;
    }
  }
}

@utility accordion-content {
  @layer l1.l2 {
    @apply pb-4 text-sm/6 text-muted-foreground;
  }
}
