/* Starting Point UI Button Group Styles */

@utility btn-group {
  @apply flex w-fit items-stretch;
  @apply [&>*]:focus-visible:z-10 [&>*]:focus-visible:relative;
  @apply [&:where(&:not(.btn-group-horizontal,.btn-group-vertical))]:btn-group-horizontal;
}

@utility btn-group-horizontal {
  @apply [&>*:not(:first-child)]:rounded-l-none [&>*:not(:first-child)]:border-l-0;
  @apply [&>*:not(:last-child)]:rounded-r-none;
  @apply [&>.btn-group-separator]:h-auto [&>.btn-group-separator]:w-px;
}

@utility btn-group-vertical {
  @apply flex-col;
  @apply [&>*:not(:first-child)]:rounded-t-none [&>*:not(:first-child)]:border-t-0;
  @apply [&>*:not(:last-child)]:rounded-b-none;
  @apply [&>.btn-group-separator]:w-auto [&>.btn-group-separator]:h-px;
}

@utility btn-group-text {
  @apply bg-muted flex items-center gap-2 rounded-md border px-4 text-sm font-medium shadow-xs;
  @apply [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 [&_svg]:shrink-0;
  @apply [&_i[class*='ri-']]:text-[1.125rem] [&_i[class*='ri-']]:leading-none [&_i[class*='ri-']]:shrink-0;
}

@utility btn-group-separator {
  @apply bg-input relative self-stretch;
}
