/* Starting Point UI Card Styles */

@utility card {
  @layer l1.l2 {
    @apply text-card-foreground rounded-xl;
    @apply [&:where(&:not(.card-default,.card-muted))]:card-default;
  }
}

@utility card-default {
  @layer l1 {
    @apply bg-card border;
  }
}

@utility card-muted {
  @layer l1 {
    @apply bg-muted/50;
  }
}

@utility card-content {
  @layer l1.l2 {
    @apply [&:where(&:not(.card-content-sm,.card-content-base,.card-content-lg))]:card-content-base;
  }
}

@utility card-content-sm {
  @layer l1 {
    @apply p-4;
  }
}

@utility card-content-base {
  @layer l1 {
    @apply p-6;
  }
}

@utility card-content-lg {
  @layer l1 {
    @apply p-8;
  }
}
