/* Starting Point UI Separator Styles */

@utility separator {
  @apply bg-border shrink-0;
  @apply [&:where(&:not(.separator-horizontal,.separator-vertical))]:separator-horizontal;
}

@utility separator-horizontal {
  @apply h-px w-full;
}

@utility separator-vertical {
  @apply h-full self-stretch w-px;
}
